/*
* Daphne Witmer, 10588094
*/

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

h2 {
    font: 24px sans-serif;
}

a:link {
    font: 12px sans-serif;
    color: blue;
}

a:hover {
    color: red;
    background-color: transparent;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}

.dropbtn {
    float: left
}

.dropdown-content {
    float: left
}
